* {
  box-sizing: border-box;
}
#index h1,
#index h2,
#index h3,
#index h4,
#index h5,
#index p,
#index blockquote,
#index ol,
#index ul {
  width: 700px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  margin: 0px;
  padding: 0px;
}

#index p,
#index blockquote,
#index ol,
#index ul {
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 30px;
}

#index h1 + p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.4);
}

#index a {
  color: inherit;
}

#index h1,
#index h2,
#index h3,
#index h4,
#index h5 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-family: "PT Sans Caption", "PT Sans";
}

#index h1 {
  font-size: 38px;
  line-height: 44px;
  margin: 50px auto;
}

#index h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 42px;
}

#index h3 {
  font-size: 28px;
  line-height: 32px;
  margin-top: 36px;
}

#index h4 {
  font-size: 24px;
  line-height: 28px;
  margin-top: 32px;
}

#index h5 {
  font-size: 22px;
  line-height: 24px;
  margin-top: 28px;
}

#index h2 + p {
  margin-top: 10px;
}
#index h3 + p {
  margin-top: 10px;
}
#index h4 + p {
  margin-top: 10px;
}
#index h5 + p {
  margin-top: 10px;
}

#index img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}

#index ul {
  list-style-type: disc;
  padding-left: 26px;
}
#index ol {
  list-style-type: decimal;
  padding-left: 26px;
}

#index blockquote {
  font-style: italic;
  position: relative;
}

#index blockquote::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: -20px;
}

/* стили для бокового меню */
nav.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 60px;
  font-size: 14px;
  opacity: 0.2;
  transition: 0.3s;
}
nav.sidebar:hover {
  opacity: 1;
  transition: 0.6s;
}
nav.sidebar ol {
  width: 100%;
  font-size: inherit;
  list-style-type: none;
  margin: 0;
  line-height: 24px;
  padding: 0 20px;
}
nav.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}
nav.sidebar a {
  text-decoration: none;
}
/* стили для верхнего меню*/
#index nav.menubar img,
nav.menubar img {
  width: 250px;
  margin: 0;
}
nav.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: white;
  box-shadow: 0 2px 6px 0 #00000030;
}

nav.menubar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}
nav.menubar a:hover {
  color: black;
  transition: 0.6s;
}

/* стили для about*/
/* #about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/1440.png");
  width: 1440px;
  height: 3120px;
  opacity: 0.2;
} */

#about section {
  display: flex;
  gap: 4%;
}

#about div {
  overflow: hidden;
  width: 48%;
}

.firstSection img {
  width: 164%;
}

#about h2 {
  font-size: 38px;
  line-height: 44px;
}

#about p {
  font-size: 28px;
  line-height: 38px;
  margin-top: 24px;
}
.firstSection div {
  margin-top: 130px;
}
.firstSection div:nth-of-type(1) {
  padding: 60px 0 0 120px;
}

.secondSection div {
  margin-top: 84px;
}
.secondSection img {
  padding-left: 80px;
  width: 100%;
}

.secondSection div:nth-of-type(2) {
  padding: 60px 0 0 20px;
}

.thirdSection {
  margin-top: 240px;
}

.thirdSection div:nth-of-type(1) {
  padding-left: 120px;
}

.thirdSection img {
  border-left: 1px solid #eee;
}

.forthSechion {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  text-align: center;
  margin: 140px auto;
}
.forthSechion a {
  font-size: 20px;
  text-decoration: none;
  color: gray;
  border: 1px solid #eee;
  border-radius: 6px;
  padding: 16px 30px;
}

.forthSechion a:hover {
  color: #121212;
  border: 1px solid #121212;
  transition: all ease 0.6s;
}
.forthSechion a:nth-of-type(2) {
  background-color: #121212;
  color: #eee;
  border: 1px solid #121212;
}
.forthSechion a:nth-of-type(2):hover {
  background-color: #333;
  transition: all ease 0.6s;
}
#about .forthSechion div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}
